<div class="left-home" style="margin-top: 15px">
	
	<div>
		<div class="col-xs-12" style="padding-left: 45px">
			<span><a class="usname camel" href="/user/<%= us.id %>" style="color:#000"><span style="font-size: 22px; font-weight:bold"><%= us.fname %> <%= us.lname %></span></a></span><br>
			<span class="handle"><a href="/user/<%= us.id %>" style="color:#8899a6"><span style="font-size: 15px;">@<%= us.tweet_handle %></span></a></span>
		</div>
		<div class="col-xs-12" style="margin-top: 7px">
			<div class="row">
				
			</div>
		</div>
	</div>
</div>